<html>
<head>
    <link rel="stylesheet" href="../lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="../lib/css/bootstrap-colorpicker.min.css">
    <link rel="stylesheet" href="css/popup.css">
</head>

<body>
<div id="react_test">Test</div>