<section>
    <h3>Video Search:</h3>
    <p>
        In theory you shouldn't need this button, since when any video element is loaded it will automatically report
        itself and
        therefore this button should be disabled if a video is found.
        <br> Anyway, you can do a manual search, if you believe that the current tab has an undetected video element.
    </p>
    <button class="btn btn-default" id="search_for_video_btn">Search for Videos</button>
    <br>
    <p>
        Note: If page includes multiple videos, only first one would be captured
    </p>
</section>