:root {
    --defalut-font-size: 12px;
}

body {
    margin: 1%;
}

#subtitle_controls {
    display: flex;
}

#subtitle_seek {
    text-align: center;
}

p {
    margin: 0px;
    font-size: var(--defalut-font-size);
}

.bold {
    font-weight: bold;
}

table, th, td {
    font-size: var(--defalut-font-size);
    font-weight: 100;
    text-align: left;
}

.hidden {
    visibility: hidden;
}