<section>
    <h3>General Style Controls:</h3>
    <input class="btn btn-default" type="checkbox"
            id="enable_manual_resize"
            title="Drag a subtitle to change its position or drag a handler to resize it">
        Enable manual resize and position<br>
</section>