.display-none {
    display: none !important;
}

div#subtitle_container {
    position: absolute;
    z-index: 300000;
    display: table;
    pointer-events: none;
    width: 100%;
}

div#subtitle_container .subtitle_holder {
    font-family: "YouTube Noto", Roboto, Arial, Helvetica, sans-serif;
    display: table-cell;
    text-align: center;
    font-weight: 500;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    vertical-align: bottom;

    /* You want to make these properties dynamic in the future*/
    padding-left: 5px;
    padding-right: 5px;
}

.enable-click {
    pointer-events: all;
}

.disable-click{
    pointer-events: none;
}

.draggable {
    cursor: move;
}

.resizable {
    border: 1px dashed #000000;
    position: relative;
    min-height: 50px;
}

.ui-resizable-handle {
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border: 1px solid #000000;
    position: absolute;
}

.ui-resizable-nw {
    left: -5px;
    top: -5px;
    cursor: nw-resize;
}

.ui-resizable-ne {
    top: -5px;
    right: -5px;
    cursor: ne-resize;
}

.ui-resizable-sw {
    bottom: -5px;
    left: -5px;
    cursor: sw-resize;
}

.ui-resizable-se {
    bottom: -5px;
    right: -5px;
    cursor: se-resize;
}

.ui-resizable-n {
    top: -5px;
    left: 50%;
    cursor: n-resize;
}

.ui-resizable-s {
    bottom: -5px;
    left: 50%;
    cursor: s-resize;
}

.ui-resizable-w {
    left: -5px;
    top: calc(50% - 5px);
    cursor: w-resize;
}

.ui-resizable-e {
    right: -5px;
    top: calc(50% - 5px);
    cursor: e-resize;
}