.display-none {
    display: none !important;
}

div#subtitle_container {
    position: absolute;
    z-index: 300000;
    display: table;
    pointer-events: none;
    width: 100%;
}

div#subtitle_container p.subtitle_holder {
    font-family: "YouTube Noto", Roboto, Arial, Helvetica, sans-serif;
    display: table-cell;
    text-align: center;
    font-weight: 500;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    vertical-align: bottom;

    /* You want to make these properties dynamic in the future*/
    padding-left: 5px;
    padding-right: 5px;
}
